<main class="container">
    <app-detalle_pokemon [pokemon]="pokemonSeleccionado"></app-detalle_pokemon>
    <app-foto_pokemon [pokemon]="pokemonSeleccionado"></app-foto_pokemon>

    <div class="tarjetacontainer" #tarjetas (scroll)="onScroll($event)">
        <app-tarjeta_pokemon *ngFor="let pokemon of listaPokemon"
            [data]="pokemon" (clickeado)="seleccionado($event)"
            [seleccionado]="pokemon?.name === pokemonSeleccionado?.name">
        </app-tarjeta_pokemon>


        <div class="centrar">
            <div class="dot-spinner" *ngIf="cargando">
                <div class="dot-spinner__dot"></div>
                <div class="dot-spinner__dot"></div>
                <div class="dot-spinner__dot"></div>
                <div class="dot-spinner__dot"></div>
                <div class="dot-spinner__dot"></div>
                <div class="dot-spinner__dot"></div>
                <div class="dot-spinner__dot"></div>
                <div class="dot-spinner__dot"></div>
            </div>
        </div>

    </div>
    
</main>